@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
 
.desktop{
  .index {
    /* background-color: #ffffff; */
    background-color: #73b2d9bf;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 100% */
  }
  
  .index .div {
    /* background-color: #ffffff; */
    /* height: 1118px; */
    /* background-color: #73b2d9bf; */
    /* position: relative; */
    /* width: 1440px; */
  }
  

  .index .textoeiconizin1{
    display:flex;
    justify-content:center;
    margin-bottom: 35px;
    margin-top: 35px;
    gap:4rem;
  }

  .index .textoeiconizin2{
    display:flex;
    justify-content:center;
    margin-bottom: 35px;
  }

  .index .textoeiconizin3{
    display:flex;
    margin-bottom: 35px;
    justify-content:center;
  }
  /* .index .overlap {
    height: 46px; */
    /* left: 138px; */
    /* position: absolute; */
    /* top: 49px; */
    /* width: 193px; }*/
  
  
  .index .text_wrapper {
    color: #5483bf;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 35px;
    font-weight: 400;
    /* left: 0; */
    letter-spacing: 0;
    line-height: normal;
    /* position: absolute; */
    /* top: 0; */
    width: 193px;
  }
  
  /* .index .logod { */
    /* background-image: url(https://cdn.animaapp.com/projects/6521ab18d9cb42a4b3df616b/releases/6521ac5d62f75e9352093c3e/img/iconepyrobot.png);
    background-position: 50% 50%; */
    /* background-size: cover; */
    /* height: 100px; */
    /* left: 25px; */
    /* position: absolute; */
    /* top: 0; */
    /* width: 101px;
  } */
  
  /* .index .icone_pyro_bot {
    /* height: 100px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 101px; */
    /* left: 25px;
    object-fit: cover;
    position: absolute;
    top: 3px;
    width: 101px;
    height: 100px; */
  } 
  
  .index .overlap_2 {
    /* height: 1001px; */
    /* left: 0; */
    /* position: absolute; */
    /* top: 117px; */
    /* width: 1440px; */
    /* background-color: #73b2d9bf; */
  }
  
  /* .index .rectangle { */
    /* background-color: #73b2d9bf; */
    /* height: 904px; */
    /* left: 0; */
    /* position: absolute; */
    /* top: 0; */
    /* width: 1440px; */
  /* } */
  
  .index .p {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 45px;
    font-weight: 400;
    /* left: 340px; */
    letter-spacing: 0;
    text-align:center;
    line-height: normal;
    margin-top:60px;
    /* position: absolute; */
    /* top: 49px; */
  }

  
  
  .index .iconezinmotivos {
    height: 62px;
    /* left: 686px; */
    object-fit: cover;
    /* position: absolute; */
    /* top: 169px; */
    width: 65px;
  }
  
  .index .img_2{
    height: 62px;
    /* left: 323px; */
    object-fit: cover;
    /* position: absolute; */
    /* top: 169px; */
    width: 55px;
  }
  
  .index .img {
    height: 62px;
    /* left: 1029px; */
    object-fit: cover;
    /* position: absolute; */
    /* top: 169px; */
    width: 55px;
  }
  
  .index .confiabilidade {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 22px;
    font-weight: 400;
    /* left: 626px; */
    letter-spacing: 0;
    line-height: normal;
    /* position: absolute; */
    /* top: 246px; */
    width: 205px;
  }
  
  .index .resposta_r_pida {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 22px;
    font-weight: 400;
    /* left: 626px; */
    letter-spacing: 0;
    line-height: normal;
    /* position: absolute; */
    /* top: 246px; */
    width: 205px;
  }
  
  .index .detec_o_precisa {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 22px;
    font-weight: 400;
    /* left: 626px; */
    letter-spacing: 0;
    line-height: normal;
    /* position: absolute; */
    /* top: 246px; */
    width: 205px;
  }
  
  /* .index .rectangle_2 {
    background-color: #2949a6;
    height: 501px; */
    /* left: 0; */
    /* position: absolute; */
    /* top: 500px; */
    /* width: 1440px;
  } */

  .index .pyroboteincrivel{
    background-color: #2949a6;
    padding:75px;
    border-radius:60px;
  }
  
  .index .text_wrapper_2 {
    color: #ffffff;
    /* background-color: #2949a6; */
    font-family: "Dela Gothic One", Helvetica;
    font-size: 35px;
    font-weight: 400;
    /* left: 831px; */
    letter-spacing: 0;
    line-height: normal;
    /* position: absolute; */
    /* top: 580px; */
    width: 516px;
  }
  
  .index .text_wrapper_3 {
    color: #ffffff;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 22px;
    font-weight: 400;
    /* left: 831px; */
    letter-spacing: 0;
    line-height: normal;
    /* position: absolute; */
    /* top: 764px; */
    width: 516px;
  }
  
  .index .line {
    height: 278px;
    /* left: 542px; */
    /* position: absolute; */
    /* top: 174px; */
    width: 10px;
  }
  
  .index .line_2 {
    height: 278px;
    /* left: 890px; */
    /* position: absolute; */
    /* top: 174px; */
    width: 10px;
  }
  
  .index .iconezinmotivos_2 {
    height: 84px;
    /* left: 323px; */
    object-fit: cover;
    /* position: absolute; */
    /* top: 147px; */
    width: 85px;
  }
  
  .index .programadoraxinaisa {
    height: 501px;
    /* left: 0; */
    object-fit: cover;
    /* position: absolute; */
    /* top: 500px; */
    width: 682px;
  }


.mobile{
  .index {
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .index .div {
    /* background-color: #ffffff; */
    height: 810px;
    /* position: relative; */
    width: 375px;
  }
  
  /* .index .text_wrapper {
    color: #5483bf;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 41px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    width: 80px;
  } */
  
  .index .overlap_group {
    background-color: #73b2d9bf;
    height: 453px;
    /* left: 0; */
    /* position: absolute; */
    /* top: 50px; */
    width: 375px;
    padding:15px;
  }
  
  .index .p {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 15px;
    font-weight: 400;
    text-align:center;
    /* left: 61px; */
    letter-spacing: 0;
    line-height: normal;
    /* position: absolute;
    top: 53px; */
  }
  
  .index .iconezinmotivos {
    height: 45px;
    /* left: 159px; */
    object-fit: cover;
    /* position: absolute; */
    /* top: 149px; */
    /* width: 45px; */
    justify-content:center;
    display:flex;
  }
  
  .index .img {
    height: 45px;
    /* left: 279px; */
    object-fit: cover;
    /* position: absolute;
    top: 149px; */
    /* width: 35px; */
    justify-content:center;
    display:flex;
  }
  
  .index .confiabilidade {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 10px;
    font-weight: 400;
    /* left: 143px; */
    letter-spacing: 0;
    line-height: normal;
    /* position: absolute;
    top: 210px; */
    width: 89px;
  }
  
  .index .resposta_r_pida {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 10px;
    font-weight: 400;
    /* left: 262px; */
    letter-spacing: 0;
    line-height: normal;
    /* position: absolute;
    top: 210px; */
    width: 88px;
  }
  
  .index .detec_o_precisa {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 10px;
    font-weight: 400;
    /* left: 32px; */
    letter-spacing: 0;
    line-height: normal;
    /* position: absolute;
    top: 210px; */
    width: 94px;
  }
  
  .index .line {
    height: 185px;
    /* left: 126px;
    position: absolute;
    top: 170px; */
    width: 3px;
  }
  
  .index .line_2 {
    height: 185px;
    /* left: 239px;
    position: absolute;
    top: 170px; */
    width: 3px;
  }
  
  .index .iconezinmotivos_2 {
    height: 45px;
    /* left: 48px; */
    object-fit: cover;
    /* position: absolute;
    top: 149px; */
    /* width: 45px; */
    justify-content:center;
    display:flex;
  }
  
  /* .index .icone_pyro_bot {
    height: 33px;
    left: 9px;
    object-fit: cover;
    position: absolute;
    top: 3px;
    width: 29px;
  } */
  
  .index .overlap {
    background-color: #2949a6;
    height: 307px;
    /* left: 0;
    position: absolute; */
    /* top: 503px; */
    width: 375px;
  }
  
  .index .overlap_2 {
    height: 193px;
    /* left: 0;
    position: absolute;
    top: 114px; */
    width: 375px;
  }
  
  /* .index .programadoraxinaisa {
    height: 192px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 1px;
    width: 251px;
  } */
  
  .index .text_wrapper_2 {
    color: #ffffff;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 12px;
    font-weight: 400;
    /* left: 140px; */
    letter-spacing: 0;
    line-height: normal;
    /* position: absolute; */
    /* top: 0; */
    width: 235px;
  }
  
  .index .text_wrapper_3 {
    color: #ffffff;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 18px;
    font-weight: 400;
    /* left: 100px; */
    letter-spacing: 0;
    line-height: normal;
    /* position: absolute;
    top: 32px; */
    width: 266px;
  }
  
}








@media (min-width: 800px) {
  .mobile{
    display:none;
  }
}

@media (max-width: 800px) {
  .desktop{
    display:none;
  }
}