@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

.desktop{
  .index {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .index .div {
    background-color: #ffffff;
    height: 1118px;
    position: relative;
    width: 1440px;
  }
  
  .index .overlap {
    height: 46px;
    left: 138px;
    position: absolute;
    top: 49px;
    width: 193px;
  }
  
  .index .text_wrapper {
    color: #5483bf;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 35px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 193px;
  }
  
  .index .logod {
    /* background-image: url(https://cdn.animaapp.com/projects/6521ab18d9cb42a4b3df616b/releases/6521ac5d62f75e9352093c3e/img/iconepyrobot.png);
    background-position: 50% 50%; */
    background-size: cover;
    height: 100px;
    left: 25px;
    position: absolute;
    top: 0;
    width: 101px;
  }
  
  .index .icone_pyro_bot {
    /* height: 100px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 101px; */
    left: 25px;
    object-fit: cover;
    position: absolute;
    top: 3px;
    width: 101px;
    height: 100px;
  }
  
  .index .overlap_2 {
    height: 1001px;
    left: 0;
    position: absolute;
    top: 117px;
    width: 1440px;
  }
  
  .index .rectangle {
    background-color: #73b2d9bf;
    height: 904px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .index .p {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 45px;
    font-weight: 400;
    left: 340px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 49px;
  }
  
  .index .iconezinmotivos {
    height: 62px;
    left: 686px;
    object-fit: cover;
    position: absolute;
    top: 169px;
    width: 65px;
  }
  
  .index .img_2{
    height: 62px;
    left: 323px;
    object-fit: cover;
    position: absolute;
    top: 169px;
    width: 55px;
  }
  
  .index .img {
    height: 62px;
    left: 1029px;
    object-fit: cover;
    position: absolute;
    top: 169px;
    width: 55px;
  }
  
  .index .confiabilidade {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 22px;
    font-weight: 400;
    left: 626px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 246px;
    width: 205px;
  }
  
  .index .resposta_r_pida {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 22px;
    font-weight: 400;
    left: 949px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 248px;
    width: 290px;
  }
  
  .index .detec_o_precisa {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 22px;
    font-weight: 400;
    left: 235px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 248px;
    width: 289px;
  }
  
  .index .rectangle_2 {
    background-color: #2949a6;
    height: 501px;
    left: 0;
    position: absolute;
    top: 500px;
    width: 1440px;
  }
  
  .index .text_wrapper_2 {
    color: #ffffff;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 35px;
    font-weight: 400;
    left: 831px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 580px;
    width: 516px;
  }
  
  .index .text_wrapper_3 {
    color: #ffffff;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 22px;
    font-weight: 400;
    left: 831px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 764px;
    width: 516px;
  }
  
  .index .line {
    height: 278px;
    left: 542px;
    position: absolute;
    top: 174px;
    width: 10px;
  }
  
  .index .line_2 {
    height: 278px;
    left: 890px;
    position: absolute;
    top: 174px;
    width: 10px;
  }
  
  .index .iconezinmotivos_2 {
    height: 84px;
    left: 323px;
    object-fit: cover;
    position: absolute;
    top: 147px;
    width: 85px;
  }
  
  .index .programadoraxinaisa {
    height: 501px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 500px;
    width: 682px;
  }
}

.mobile{
  .index {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .index .div {
    background-color: #ffffff;
    height: 435px;
    position: relative;
    width: 375px;
  }
  
  .index .text_wrapper {
    color: #5483bf;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 41px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    width: 80px;
  }
  
  .index .overlap_group {
    background-color: #73b2d9bf;
    height: 252px;
    left: 0;
    position: absolute;
    top: 50px;
    width: 375px;
  }
  
  .index .p {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 61px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 37px;
  }
  
  .index .iconezinmotivos {
    height: 20px;
    left: 169px;
    object-fit: cover;
    position: absolute;
    top: 106px;
    width: 19px;
  }
  
  .index .img {
    height: 20px;
    left: 273px;
    object-fit: cover;
    position: absolute;
    top: 106px;
    width: 16px;
  }
  
  .index .confiabilidade {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 10px;
    font-weight: 400;
    left: 143px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 131px;
    width: 82px;
  }
  
  .index .resposta_r_pida {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 10px;
    font-weight: 400;
    left: 255px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 131px;
    width: 81px;
  }
  
  .index .overlap {
    height: 133px;
    left: 41px;
    position: absolute;
    top: 99px;
    width: 88px;
  }
  
  .index .overlap_2 {
    height: 126px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 88px;
  }
  
  .index .detec_o_precisa {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 10px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25px;
    width: 87px;
  }
  
  .index .line {
    height: 126px;
    left: 86px;
    position: absolute;
    top: 0;
    width: 3px;
  }
  
  .index .iconezinmotivos_2 {
    height: 27px;
    left: 21px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 24px;
  }
  
  .index .line_2 {
    height: 124px;
    left: 230px;
    position: absolute;
    top: 108px;
    width: 4px;
  }
  
  .index .icone_pyro_bot {
    height: 33px;
    left: 9px;
    object-fit: cover;
    position: absolute;
    top: 3px;
    width: 29px;
  }
  
  .index .overlap_3 {
    background-color: #2949a6;
    height: 133px;
    left: 0;
    position: absolute;
    top: 302px;
    width: 375px;
  }
  
  .index .text_wrapper_2 {
    color: #ffffff;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 10px;
    font-weight: 400;
    left: 193px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    width: 153px;
  }
  
  .index .text_wrapper_3 {
    color: #ffffff;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 7px;
    font-weight: 400;
    left: 193px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 67px;
    width: 182px;
  }
  
  .index .programadoraxinaisa {
    height: 132px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 184px;
  }
  
}








@media (min-width: 800px) {
  .mobile{
    display:none;
  }
}

@media (max-width: 800px) {
  .desktop{
    display:none;
  }
}