@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');


.desktop{
  .index {
    /* background-color: #ffffff; */
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .index .div {
    background-color: #73b2d9bf; 
    /* height: 1024px; */
    /* position: relative; */
    /* width: 1440px; */
  }
  
  .index .overlap {
    height: 46px;
    /* left: 138px;
    position: absolute;
    top: 49px; */
    width: 193px;
  }
  
  .index .text_wrapper {
    color: #5483bf;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 35px;
    font-weight: 400;
    /* left: 0; */
    letter-spacing: 0;
    line-height: normal;
    /* position: absolute;
    top: 0; */
    width: 193px;
  }
  
  .index .overlap_group {
    background-position: 50% 50%;
    background-size: cover;
    height: 100px;
    /* left: 25px;
    position: absolute;
    top: 0; */
    width: 101px;
  }
  
  /* .index .icones_de_vetor_de {
    height: 100px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 101px;
  } */
  
  .index .overlap_2 {
    display:flex;
    /* background-color: #73b2d9bf; */
    height: 904px;
    justify-content: center;
    /* left: 0;
    top: 117px; */
    /* width: 1440px; */
    margin-inline: 55px;
  }
  
  .index .div_wrapper {
    background-color: #2949a687;
    border-radius: 20px;
    /* height: 215px; */
    /* left: 703px;
    position: absolute;
    top: 141px; */
    /* width: 665px; */
    margin-top:55px;
  }
  
  .index .p {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 22px;
    font-weight: 400;
    /* left: 59px; */
    letter-spacing: 0;
    line-height: normal;
    /* position: absolute;
    top: 16px; */
    /* width: 548px; */
    padding:25px;
  }
  
  .index .overlap_3 {
    background-color: #2949a687;
    border-radius: 20px;
    /* height: 198px; */
    /* left: 703px;
    position: absolute;
    top: 475px; */
    /* width: 665px; */
    margin-top:55px;
  }
  
  .index .text_wrapper_2 {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 22px;
    font-weight: 400;
    /* left: 43px; */
    letter-spacing: 0;
    line-height: normal;
    /* position: absolute;
    top: 30px; */
    /* width: 579px; */
    padding:25px;
  }
  
  .index .image_wrapper {
    background-color: #2949a687;
    border-radius: 40px;
    height: 465px;
    /* left: 42px;
    position: absolute;
    top: 141px; */
    width: 490px;
    padding:30px;
    margin-top:55px;
    margin-left: 55px;
  }
  
  .index .image {
    height: 450px;
    /* left: 36px; */
    object-fit: cover;
    /* position: absolute;
    top: 29px; */
    width: 482px;
    border-radius: 20px;
    /* padding:30px; */
  }
}


.mobile{
  .pyro_bot {
    /* bakground-color: #ffffff; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .pyro_bot .div {
    /* background-color: #ffffff; */
    height: 810px;
    /* position: relative; */
    /* width: 375px; */
    background-color: #73b2d9bf;
    /* display:flex;
    justify-content: center; */
    /* margin-inline: 55px; */
    padding:35px;
  }
  
  /* .pyro_bot .text_wrapper {
    color: #5483bf;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 41px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    width: 80px;
  } */
  
  .pyro_bot .overlap_group {
    /* background-color: #73b2d9bf; */
    /* background-size: 100%; */
    height: 762px;
    /* left: 0;
    top: 48px; */
    /* width: 375px; */
  }
  
  .pyro_bot .overlap {
    background-color: #2949a687;
    border-radius: 30px;
    margin-bottom: 55px;
    height: 223px;
    margin-inline: auto;
    /* left: 24px;
    position: absolute;
    top: 252px; */
    width: 285px;
    padding:35px;
  }
  
  .pyro_bot .image {
    /* height: 186px; */
    /* left: 21px; */
    object-fit: cover;
    height: 223px;
    /* position: absolute;
    top: 15px; */
    /* width: 260px; */
    border-radius: 20px;
    width: 285px;
  }
  
  .pyro_bot .div_wrapper {
    background-color: #2949a687;
    border-radius: 20px;
    padding:10px;
    /* height: 157px; */
    /* left: 23px;
    position: absolute;
    top: 569px; */
    /* width: 329px; */
  }
  
  .pyro_bot .p {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 16px;
    font-weight: 400;
    /* left: 14px; */
    letter-spacing: 0;
    line-height: normal;
    /* position: absolute; */
    /* top: 12px; */
    /* width: 301px; */
  }
  
  .pyro_bot .overlap_2 {
    background-color: #2949a687;
    border-radius: 20px;
    /* height: 75px; */
    padding:10px;
    margin-bottom: 55px;
    /* left: 23px;
    position: absolute;
    top: 52px; */
    /* width: 329px; */
  }
  
  .pyro_bot .text_wrapper_2 {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 16px;
    font-weight: 400;
    /* left: 18px; */
    letter-spacing: 0;
    line-height: normal;
    /* position: absolute; */
    /* top: 22px; */
    /* width: 297px; */
  }
  
  /* .pyro_bot .icone_pyro_bot {
    height: 33px;
    left: 9px;
    object-fit: cover;
    position: absolute;
    top: 3px;
    width: 29px;
  } */
  
}







@media (min-width: 801px) {
  .mobile{
    display:none;
  }
}

@media (max-width: 800px) {
  .desktop{
    display:none;
  }
}


@media (max-width: 440px) {
  .mobile{
    .pyro_bot .image{
      width: 220px;
      height: 170px;
    }

    .pyro_bot .overlap{
      width: 220px;
      height: 170px;
      padding: 22px;
    }
  }


}

/* @media (max-width: 1320px) {
  .desktop{
    .index .overlap_2{
      display: block;
    }
  }
} */


@media (max-width: 1320px) {
  .desktop{
    .index .overlap_2{
      
    }
    .index .p{
      font-size: 20px;
    }
    .index .image{
      width:382px;
      height:350px; 
    }
    .index .image_wrapper{
      height: 350px;
      width: 382px;
    }
  }
}

@media (max-width: 1010px) {
  .desktop{
    .index .overlap_2{
      
    }
    .index .p{
      font-size: 16px;
    }
    .index .text_wrapper_2{
      font-size: 16px;
    }
    .index .image{
      width:282px;
      height:250px; 
    }
    .index .image_wrapper{
      height: 250px;
      width: 282px;
    }
  }
}