@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

.desktop{
  .index {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .index .div {
    background-color: #ffffff;
    height: 1024px;
    position: relative;
    width: 1440px;
  }
  
  .index .text_wrapper {
    color: #5483bf;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 35px;
    font-weight: 400;
    left: 138px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 52px;
    width: 193px;
    
  }
  
  .index .icone_pyro_bot {
    height: 100px;
    left: 25px;
    object-fit: cover;
    position: absolute;
    top: 3px;
    width: 101px;
  }
  
  .index .overlap_group {
    background-color: #2949a6;
    height: 904px;
    left: 0;
    position: absolute;
    top: 120px;
    width: 1440px;
  }
  
  .index .logod {
    background-position: 50% 50%;
    background-size: cover;
    height: 100px;
    left: 25px;
    position: absolute;
    top: 0;
    width: 101px;
  }
  
  .index .iconeinsta {
    height: 124px;
    left: 641px;
    object-fit: cover;
    position: absolute;
    top: 721px;
    width: 157px;
  }
  
  .index .img {
    height: 124px;
    left: 166px;
    object-fit: cover;
    position: absolute;
    top: 721px;
    width: 157px;
  }
  
  .index .iconeinsta_2 {
    height: 124px;
    left: 1116px;
    object-fit: cover;
    position: absolute;
    top: 721px;
    width: 157px;
  }
  
  .index .text_wrapper_2 {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 45px;
    font-weight: 400;
    left: 530px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 74px;
  }
  
  .index .sofia {
    height: 429px;
    left: 76px;
    object-fit: cover;
    position: absolute;
    top: 237px;
    width: 337px;
    border-radius: 40px;
  }
  
  .index .iza {
    height: 429px;
    left: 551px;
    object-fit: cover;
    position: absolute;
    top: 237px;
    width: 337px;
    border-radius: 40px;
  }
  
  .index .andre {
    height: 429px;
    left: 1026px;
    object-fit: cover;
    position: absolute;
    top: 237px;
    width: 337px;
    border-radius: 40px;
  }
}

.mobile{
  .index {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .index .div {
    background-color: #ffffff;
    height: 1011px;
    position: relative;
    width: 375px;
  }
  
  .index .text_wrapper {
    color: #5483bf;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 41px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
    width: 80px;
  }
  
  .index .overlap_group {
    background-color: #2949a6;
    height: 964px;
    left: 0;
    position: absolute;
    top: 47px;
    width: 375px;
  }
  
  .index .text_wrapper_2 {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 124px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30px;
  }
  
  .index .sofia {
    height: 152px;
    left: 120px;
    object-fit: cover;
    position: absolute;
    top: 93px;
    width: 136px;
    border-radius: 20px;
  }
  
  .index .iconeinsta {
    height: 71px;
    left: 142px;
    object-fit: cover;
    position: absolute;
    top: 270px;
    width: 91px;
  }
  
  .index .iza {
    height: 152px;
    left: 125px;
    object-fit: cover;
    position: absolute;
    top: 381px;
    width: 136px;
    border-radius: 20px;
  }
  
  .index .img {
    height: 71px;
    left: 146px;
    object-fit: cover;
    position: absolute;
    top: 550px;
    width: 91px;
  }
  
  .index .andre {
    height: 152px;
    left: 123px;
    object-fit: cover;
    position: absolute;
    top: 661px;
    width: 136px;
    border-radius: 20px;
  }
  
  .index .iconeinsta_2 {
    height: 71px;
    left: 145px;
    object-fit: cover;
    position: absolute;
    top: 851px;
    width: 91px;
  }
  
  .index .icone_pyro_bot {
    height: 33px;
    left: 9px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 29px;
  }
}



@media (min-width: 800px) {
  .mobile{
    display:none;
  }
}

@media (max-width: 800px) {
  .desktop{
    display:none;
  }
}