@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

.desktop{
  .index {
    background-color: #2949a6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 100%; */
    height: 1047px;
  }
  
  .index .div {
    /* background-color: #ffffff; */
    /* height: 100vh; */
    /* position: relative; */
    /* width: 100%; */
    /* background-color: #2949a6; */
  }
  
  
  .index .overlap_group {
    /* background-color: #2949a6; */
    /* height: 904px; */
    /* left: 0;
    position: absolute;
    top: 120px; */
    /* width: 1440px; */
  }
  
  .index .iconeinsta {
    height: 124px;
    /* left: 641px; */
    object-fit: cover;
    /* position: absolute; */
    /* top: 721px; */
    width: 157px;
  }
  
  .index .img {
    height: 124px;
    /* left: 166px; */
    object-fit: cover;
    /* position: absolute; */
    /* top: 721px; */
    width: 157px;
  }
  
  .index .iconeinsta_2 {
    height: 124px;
    /* left: 1116px; */
    object-fit: cover;
    /* position: absolute; */
    /* top: 721px; */
    width: 157px;
  }
  
  .index .text_wrapper_2 {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 45px;
    font-weight: 400;
    /* left: 530px; */
    /* letter-spacing: 1;  */
    line-height: normal;
    text-align:center;
    padding:20px;
    margin-bottom:70px;
    margin-top: 110px;
    /* position: absolute; */
    /* top: 74px; */
  }
  
  .index .sofia {
    height: 329px;
    width: 237px;
    /* left: 76px; */
    object-fit: cover;
    /* position: absolute; */
    /* top: 237px; */

    border-radius: 40px;
    /* margin-left: 60px; */
  }
  
  .index .imgsdenois{
      justify-content:center;
      display:flex;
      gap: 8rem;
      margin-inline: auto;
      margin-bottom: 55px;
  }

  .index .instaaa{
    justify-content:center;
      display:flex;
      margin:25px;
      /* padding-right: 645px; */
  }

  .index .iza {
    height: 329px;
    width: 237px;
    /* left: 551px; */
    object-fit: cover;
    /* position: absolute; */
    /* top: 237px; */
    border-radius: 40px;
  }
  
  .index .andre {
    height: 329px;
    width: 237px;
    /* left: 1026px; */
    object-fit: cover;
    /* position: absolute; */
    /* top: 237px; */
    border-radius: 40px;;
  }
  .index button{
    background-color: transparent;
    outiline: none;
    border: none;
  }

  .index .botao {
    width: 48px;
    height: auto; 
  }
  .index .containers{
    display: flex;
    width: 337px;
  }

  .containers h4{
    margin-top: 16px;
    font-size: 24px;
  }

  .card_criadores{
    width: 237px;
  }
}





/* @media (min-width: 800px) {
  .mobile{
    display:none;
  }
}

@media (max-width: 801px) {
  .desktop{
    display:none;
  }
} */


@media (max-width: 1170px) {
  
  .index .imgsdenois{
    flex-direction: column;
    align-items: center;
  }
  .desktop .index{
    height: auto;
  }
}

@media (max-width: 530px) {
 
 .desktop{
  .index .text_wrapper_2{
    font-size: 29px;
  }

  .index .iza {
    height: 179px;
    width: 187px;
  }
  
  .index .sofia {
    height: 179px;
    width: 187px;
  }
  
  .index .andre {
    height: 179px;
    width: 187px;
  }

  .index .containers{
    display: flex;
    width: 186px;
  }

  .containers h4{
    font-size: 20px;
  }

  .card_criadores{
    width:179px;
  }
 }

} 