@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');


.desktop{
  .index {
    background-color: #2949a6;
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .index .videosa{
    text-decoration:none;
    color:black;
    font-size:32px;
    border-radius:5px;
    justify-content:center;
    display:flex;
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
  }
  
  .index .text_wrapper_3{
    height:55px;
    }

  
    .index .div {
    /* background-color: #ffffff; */
    background-color: #2949a6;

    /* height: 3621px; */
    /* position: relative; */
    /* width: 1440px; */
  }
  
  .index .text_wrapper {
    color: #5483bf;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 35px;
    font-weight: 400;
    /* left: 138px; */
    letter-spacing: 0;
    line-height: normal;
    /* position: absolute; */
    /* top: 49px; */
    width: 193px;
  }
  
  /* .index .icone_pyro_bot {
    height: 100px;
    left: 25px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 101px;
  } */
  
  .index .overlap_group {
    background-color: #2949a6;
    /* height: 3504px; */
    /* left: 0; */
    /* position: absolute; */
    /* top: 117px; */
    /* width: 1440px; */
    padding:35px;
  }

  .index .card_img{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .index .text_wrapper_2 {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 38px;
    font-weight: 400;
    text-align:center;
    margin: 55px 0 55px 0;
    /* left: 388px; */
    letter-spacing: 0;
    line-height: normal;
    /* position: absolute; */
    /* top: 103px; */
  }
  
  .index .img {
    height: 232px;
    /* left: 237px; */
    object-fit: cover;
    /* position: absolute; */
    /* top: 294px; */
    width: 462px;
    border-radius: 30px;
    margin-bottom:35px;
  }
  
  /* .index .img_2 {
    height: 607px;
    /* left: 237px; */
    /* object-fit: cover; */
    /* position: absolute; */
    /* top: 1041px; */
    /* width: 967px; */
    /* border-radius: 30px; */
  /* } */   
  
  /* .index .imgdnv {
    height: 607px;
    left: 237px;
    object-fit: cover;
    position: absolute;
    top: 1763px;
    width: 967px;
    border-radius: 30px;
  } */
  
  /* .index .imgcaixapintada {
    height: 607px;
    left: 237px;
    position: absolute;
    top: 2485px;
    width: 967px;
    border-radius: 30px;
  } */
  
  .index .overlap {
    background-color: #73b2d9bf;
    border-radius: 30px;
    /* height: 217px; */
    /* left: 237px; */
    /* position: absolute; */
    /* top: 3207px; */
    /* width: 967px; */
  }
  
  /* .index .text_wrapper_3 { */
    /* color: #000000; */
    /* font-family: "Dela Gothic One", Helvetica; */
    /* font-size: 65px; */
    /* font-weight: 400; */
    /* left: 348px; */
    /* letter-spacing: 0; */
    /* line-height: normal; */
    /* position: absolute; */
    /* top: 61px; */
  /* } */
  
  
  
}

.mobile{
  .index {
    background-color: #2949a6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 100%; */
  }
  
  .index .card_img{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .index .div {
    /* background-color: #ffffff; */
    background-color: #2949a6;
    height: 1155px;
    /* position: relative; */
    width: 375px;
  }
  
  /* .index .text_wrapper {
    color: #5483bf;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 41px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
    width: 80px;
  } */
  
  .index .overlap_group {
    /* background-color: #2949a6; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100%; */
    /* left: 0; */
    /* position: absolute; */
    /* top: 47px; */
    /* width: 375px; */
  }
  
  .index .text_wrapper_2 {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 22px;
    font-weight: 400;
    /* left: 85px; */
    letter-spacing: 0;
    text-align:center;
    line-height: normal;
    margin-top:35px;
    padding-bottom:35px;
    /* position: absolute; */
    /* top: 43px; */
  }
  
  .index .img {
    height: 163px;
    /* left: 59px; */
    object-fit: cover;
    /* position: absolute; */
    /* top: 119px; */
    width: 258px;
    border-radius: 30px;
    margin-top:22px;
  }
  
  /* .index .img_2 {
    height: 163px;
    /* left: 59px; */
    /* object-fit: cover; */
    /* position: absolute; */
    /* top: 335px; */
    /* width: 258px; */
    /* border-radius: 30px;: */
  } 
  
  /* .index .imgdnv { */
    /* height: 163px; */
    /* left: 59px; */
    /* object-fit: cover; */
    /* position: absolute; */
    /* top: 551px; */
    /* width: 258px; */
    /* border-radius: 30px; */
  /* } */
  
  /* .index .imgcaixapintada { */
    /* left: 59px; */
    /* position: absolute; */
    /* top: 767px; */
    /* border-radius: 30px; */
    /* width:  258px; */
    /* height: 163px ; */
  /* } */
  
  .index .videosa{
    text-decoration:none;
    color:black;
    font-size:26px;
    border-radius:5px;
    justify-content:center;
    display:flex;
}

  .index .overlap {
    background-color: #73b2d9bf;
    border-radius: 30px;
    /* height: 95px; */
    /* left: 59px; */
    /* position: absolute; */
    /* top: 983px; */
    width: 215px;
    margin-top:22px;
  }
  
  .index .text_wrapper_3 {
    color: #000000;
    font-family: "Dela Gothic One", Helvetica;
    font-size: 25px;
    font-weight: 400;
    /* left: 77px; */
    letter-spacing: 0;
    line-height: normal;
    /* position: absolute; */
    /* top: 28px; */
  }
  
  /* .index .icone_pyro_bot {
    height: 33px;
    left: 9px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 29px;
  } */
  
  
/* } */


@media (min-width: 800px) {
  .mobile{
    display:none;
  }
}

@media (max-width: 800px) {
  .desktop{
    display:none;
  }
}